@tailwind base;
@tailwind components;
@tailwind utilities;

.password-wrapper {
    position: relative;
}
.password-wrapper input {
    width: 100%;
    padding-right: 2.5rem !important;
}
.password-wrapper i {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}